<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <title>JSP Page</title>
    </head>
    <body>
        <div class="container mt-4 col-lg-4">
            <a href="/agents" class="btn btn-secondary btn-block">Regresar</a>
            <div class="card border-warning">
                <div class="card-header bg-warning">
                    <h4> Agregar Nuevo Agente </h4>
                </div>
                <div class="card-body">
                
                <div class="alert alert-info text-center" th:if="${formMessage}" th:text="${formMessage}">Message</div>
                
                    <form id="formagent" th:object="${agentDTO}" method="POST" th:action="${editMode} ?@{/edit-agent} :@{/create-agent}">
                    	<input class="form-control" type="hidden" th:field="${agentDTO.id}">
                        <label>Nombre</label> 
                        <input th:field="${agentDTO.nameA}" name="name" type="text" class="form-control" required>
                        
                        <label>Apellido</label> 
                        <input th:field="${agentDTO.lastNameA}" name="last_name" type="text" class="form-control" required>
                        
                        <label>Experiencia</label> 
                        <div class="form-row"> 
                            Años: &nbsp; <input id="y_expe" name="y_expe" type="number" min="0" max="40" class="col-md-4 form-control" required>
                            &nbsp;
                            Meses: &nbsp; <input id="m_expe" name="m_expe" type="number" min="0" max="40" class="col-md-4 form-control" required>
                            <input th:field="${agentDTO.yearsExperienceA}" id="years_experience" name="years_experience" type="hidden" class="col-md-4 form-control" required>
                        </div>
                        <label>Secretaria</label> 
                        <select th:field="${agentDTO.secretaryIdA}" class="form-control" name="id_secretary" required>
                            <option th:each="secretary : ${secretaries}"  th:value="${secretary.id}" th:text="${secretary.name}"></option>
                        </select>
                        
                        <label>Via</label> 
                        <select th:field="${agentDTO.trackIdA}" class="form-control" name="id_track" required>
                            <option th:each="track : ${tracks}"  th:value="${track.id}" th:text="${track.type + ' - ' + track.streetOrCarrer + ' - ' + track.number}"></option>
                        </select>
                        
                        <br>
                        <input type="submit" class=" form-control btn btn-primary btn-block">
                    </form>
                </div>
            </div>
        </div>
        
        <script type="text/javascript">
            
            $(document).ready(function (){
            	
            	var years = parseFloat($("#years_experience").val());
                $("#y_expe").val(parseInt(years));
                
                if((years + "").split(".")[1] === undefined){
                    $("#m_expe").val(0)
                }else{
                    var years2 = parseFloat("0." + (years + "").split(".")[1])*12;
                    $("#m_expe").val(Math.round(years2))
                };
            	
                $("#formagent").submit(function (){
                    var years = parseFloat($("#y_expe").val());
                    var months = parseFloat(($("#m_expe").val()/12)); 
                    var experience = years + months; 
                    $("#years_experience").val(experience);
                    console.log($("#years_experience").val());
                });
            });
            
        </script>
        
    </body>
</html>
