<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- CSS only -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        <!-- JS, Popper.js, and jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.css"/>

        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.js"></script>
        <title>Welcome to Spring Web MVC project</title>
    </head>

    <body>
        <div class="container">
            <h1> Historico de via y agente </h1>
            <a href="/tracks" class="btn btn-primary">Regresar</a>
            <table id="history" class="table">
                <thead>
                    <tr>
                        <th scope="col">AGENTE</th>
                        <th scope="col">VÍA</th>
                        <th scope="col">FECHA DE INICIO</th>
                        <th scope="col">FECHA FINAL</th>
                    </tr>
                </thead>
                <tbody>
                        <tr th:each="history : ${historys}">
                            <th scope="row" th:text="${history.agent.id + ' - ' + history.agent.name}"> </th>
                            <td th:text="${track.id + ' - ' + track.type + ' - ' + track.streetOrCarrer + ' - ' + track.levelCongestion}"></td>
                            <td th:text="${history.startDate}"></td>
                            <td th:text="${history.finalDate} ? ${history.finalDate} : @{Ruta Activa}"></td>
                            <td >
                                
                            </td>
                        </tr>
                </tbody>
            </table>
        </div>

        <script type="text/javascript">

            $(document).ready(function () {
                $("#history").DataTable({

                    language: {
                        "decimal": "",
                        "emptyTable": "No hay vías asignadas",
                        "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                        "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                        "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                        "infoPostFix": "",
                        "thousands": ",",
                        "lengthMenu": "Mostrar _MENU_ Entradas",
                        "loadingRecords": "Cargando...",
                        "processing": "Procesando...",
                        "search": "Buscar:",
                        "zeroRecords": "Sin resultados encontrados",
                        "paginate": {
                            "first": "Primero",
                            "last": "Ultimo",
                            "next": "Siguiente",
                            "previous": "Anterior"
                        }
                    },

                    "processing": true,

                });
            });

        </script>

    </body>
</html>

