<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <title>JSP Page</title>
    </head>
    <body>
        <div class="container mt-4 col-lg-4">
            <a href="/tracks" class="btn btn-secondary btn-block">Regresar</a>
            <div class="card border-warning">
                <div class="card-header bg-warning">
                    <h4> Agregar Nueva Vía </h4>
                </div>
                <div class="card-body">
                
                  <div class="alert alert-info text-center" th:if="${formMessage}" th:text="${formMessage}">Message</div>
                
                    <form th:object="${trackDTO}" id="formagent" method="POST" th:action="${editMode} ?@{/edit-track} :@{/create-track}">
                        <input type="hidden" th:field="${trackDTO.id}">
                        <label>Tipo</label> 
                        <select th:field="${trackDTO.typeT}" class="form-control" name="type">
                            <option value="Autopista"> Autopista </option>
                            <option value="Carretera Principal"> Carretera Principal </option>
                            <option value="Carretera Secundaria"> Carretera Secundaria </option>
                        </select>
                        <label>Calle o Carrera ?</label> 
                        <select th:field="${trackDTO.StreetOrCarrerT}" class="form-control" name="street_or_carrer">
                            <option value="Calle"> Calle </option>
                            <option value="Carrera"> Carrera </option>
                        </select>
                        <label>Numero</label> 
                        <input th:field="${trackDTO.numberT}" name="number" type="number" class="form-control" required>
                        
                        <label>Nivel De Congestión</label> 
                        <input th:field="${trackDTO.levelCongestionT}" name="level_congestion" class="form-control" type="number" min="1" max="100" required>
                        <br>
                        <input type="submit" class="form-control btn btn-primary btn-block">
                    </form>
                </div>
            </div>
        </div>
        
        
    </body>
</html>