<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- CSS only -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        <!-- JS, Popper.js, and jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.css"/>

        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.js"></script>
        <title>Welcome to Spring Web MVC project</title>
    </head>

    <body>
        <div class="container">
            <h1> Vías </h1>
            <a href="/" class="btn btn-primary">Regresar</a>
            <a href="/create-track" class="btn btn-primary">Nueva Vía</a>
            <table id="tracks" class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">TIPO</th>
                        <th scope="col">CALLE O CARRETERA</th>
                        <th scope="col">NÚMERO</th>
                        <th scope="col">NIVEL DE CONGESTIÓN</th>
                        <th scope="col">ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                        <tr th:each="track : ${tracks}">
                            <th scope="row" th:text="${track.id}"></th>
                            <td th:text="${track.type}"></td>
                            <td th:text="${track.streetOrCarrer}"></td>
                            <td th:text="${track.number}"></td>
                            <td th:text="${track.levelCongestion}"></td>
                            <td>
                                 <a th:href="@{'/track-and-agents/'+ ${track.id}}" class="btn btn-primary">Historial</a>
                                 <a th:href="@{'/edit-track/'+ ${track.id}}" class="btn btn-warning">Editar</a>
                                 <a href="#" th:onclick="'javascript:confirmDelete(\''+ ${track.id} +'\');'" class="btn btn-danger">Eliminar</a>
                                
                            </td>
                        </tr>
                </tbody>
            </table>
        </div>
        
        <div th:include="track/confirm-delete-dialog.html" th:remove="tag"></div>
        
        <script type="text/javascript">

            $(document).ready(function () {
                $("#tracks").DataTable({

                    language: {
                        "decimal": "",
                        "emptyTable": "No hay vías registrados",
                        "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                        "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                        "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                        "infoPostFix": "",
                        "thousands": ",",
                        "lengthMenu": "Mostrar _MENU_ Entradas",
                        "loadingRecords": "Cargando...",
                        "processing": "Procesando...",
                        "search": "Buscar:",
                        "zeroRecords": "Sin resultados encontrados",
                        "paginate": {
                            "first": "Primero",
                            "last": "Ultimo",
                            "next": "Siguiente",
                            "previous": "Anterior"
                        }
                    },

                    "processing": true,

                });
            });
            
            function confirmDelete(id){
            	$('#deleteModal').modal('show');
            	$("#trackIdHiddenInput").val(id);
            }

            function deleteTrack(){
            	var id = $("#trackIdHiddenInput").val();
                window.location = "delete-track/"+id;
            }

        </script>
        
    </body>
</html>